extends layout

block content
  h1= title
  form(method='POST' action='/save_item')
    input(type='text', placeholder='Enter item name' name='name')
    br()
    input(type='submit', value='Add Item')
